{% for group in unix_groups %}
{% if group.sudo is defined %}
permit {% if group.sudo == 'nopasswd' %}nopass{% else %}persist{% endif %} setenv { -ENV PS1=$DOAS_PS1 SSH_AUTH_SOCK } :{{ group.name }}
{% endif %}
{% endfor %}
